<%= form_for answer, url: new_answer_path(question) do |f| %>
  <p>
    <%= f.label :content, t("form.answer.content") %>
    <%= f.text_area :content %>
  </p>

  <p class="submit">
    <%= f.submit %>
  </p>
<% end %>
