<ul class="filters <%= params[:filter] || 'all' %>">
  <li class="all">
    <%= link_to t("question.filters.all"), root_path %>
  </li>

  <li class="unanswered">
    <%= link_to t("question.filters.unanswered"), root_path(filter: "unanswered") %>
  </li>
</ul>
