<ul class="question-info">
  <li>
    <strong><%= @question.views_count %></strong>
    visitas
  </li>

  <li>
    <strong><%= @question.answers_count %></strong>
    respostas
  </li>

  <li class="feed">
    <a href="#">RSS</a>
  </li>
</ul>