<%= link_to t("menu.signup"), signup_path %>

<% if logged_in? %>
  <%= link_to t("menu.logout"), logout_path %>
<% end %>

<% unless logged_in? %>
  <%= link_to t("menu.login"), login_path %>
<% end %>

<% if logged_in? %>
  <p>
    <%= t("greeting.message", :name => current_user.name) %>
  </p>
<% end %>